:root {
  --background-color-light: #f6f7f7;
  --background-color-dark: #06071b;
  --background-gradient-colorful: linear-gradient(
    105.09deg,
    rgba(0, 197, 235, 0.5) -13.66%,
    rgba(181, 68, 254, 0.5) 104.34%
  );
  --main-font-family: 'Inter', sans-serif;
  --text-color-light: #ffffff;
  --text-color-dark: #000000;
  --default-animation: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* reset settings */
button {
  font-family: inherit;
  cursor: pointer;
}
body {
  font-family: var(--main-font-family);
  background-color: var(--background-color-light);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img,
picture {
  display: block;
}
address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/*/////////////////////////// COONTAINER SIZES///////////////////////// */
.container {
  width: 100%;
  max-width: 480px;
  min-width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
/*/////////////////////////// MOBILE ///////////////////////// */
/* visibility  off */
.menu {
  display: none;
}
/*  */
.header-container {
  position: absolute;
  top: 16px;
  width: 100vw;
  background-color: aqua;
}
.page-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* MOBILE MENU */
/*mobile menu */
.mobile-menu-wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--background-color);
}
.mobile-menu-wrapper.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* backdrop */
